{# templates/backEnd/circuitslist.html.twig #}

{% extends "baselayout.html.twig" %}

{% block title %}{{ parent() }} - Liste des circuits{% endblock %}

{% block head %}<link rel="stylesheet" href="../templates/CSS/circuit.css">{% endblock %}

{% block body %}

    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <p class="navbar-text" style="font-size:30px; margin: 0">A&A Voyages</p>
        <i class="material-icons navbar-text" style="font-size:30px; margin: 10px">explore</i>
    </div>
    <ul class="nav navbar-nav menu">
      <li class="active"><a href="{{ path('circuitslist') }}" style="font-size:20px">Menu</a></li>
      <li><a href="#" style="font-size:20px">Nos Destinations</a></li>
      <li><a href="#" style="font-size:20px">Nos promotions</a></li>
      <li><a href="#" style="font-size:20px">Nous contacter</a></li>
    </ul>
  </div>
</nav>
     
    <div class="container">
  <div style="margin-top:50px">
    <h1>Liste des circuits</h1>
    {% if circuitslist is not empty %}
        <p>Voici la liste des circuits:</p>
        <ul>
        {# Loop through list and creeate the list of circuit items. #}
        {% for circuit in circuitslist %}
            <li>
          		<a href="{{ path('circuitshow', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you don't have any circuits yet!</p>
    {% endif %}
  </div>
</div>

{% endblock %} {# body #}
