body {
    background-color: hsl(240, 67%, 94%);
}

p,a {
    font-family: Verdana, Geneva, sans-serif;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul.liste {
    list-style-type: circle;
    list-style-position:inside;
}

ul.menu {
    float:right; 
    margin-right:10px;

}

a.sstitre {
	color:white;
}



